footer {
    background-color: #69E6A6;
    text-align: center;
    padding: 34px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 29px;
    justify-items: center;
    margin-top: auto;
}


.footer--element {
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin: 0 27px;
}

.footer-rights {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    word-wrap: break-word;
    width: 66%;
    margin: 0 auto;
}