.section--services {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-top: 30px;
}

.services {
    text-align: center;
    align-items: center;
}

.services {
    color: #99A3AA !important;
}

.section--service {
    margin: 72px 0 75px 0;
}


.design--info:hover {
    -webkit-box-shadow: 0px 10px 24px 0px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 10px 24px 0px rgba(224, 224, 224, 1);
    box-shadow: 0px 10px 24px 0px rgba(224, 224, 224, 1);
}

.wrapper {
    display: block;
    margin: auto;
}

.design--info {
    width: 192px;
    height: 142px;
    border: 1px solid rgba(10, 38, 64, 0.5);
    border-radius: 30px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.5s ease;
    background-color: #F5F5F5;
}